/**************ALL************/

.red {
     color: red;
}

.blue {
     color: blue;
}

.pink {
     color: pink;
}

.sex, .pseu, .desc{
     font-weight: bold;
}

input[type=submit],input[type=button] {
     color: white;
     background-color: brown;
     padding: 8px;
     border-radius: 5px;
}

/**************HEADER************/

header h1 {
     text-align: center;
}

header nav {
     display: flow-root;
}

header nav ul {
     display: flex;
     list-style-type: none;
     justify-content: space-around;
}

header nav ul li a {
     text-decoration: none;
     color: white;
     background-color: brown;
     padding: 8px;
     border-radius: 5px;
}

header nav ul li a:hover {
     background-color: rosybrown;
}


/**************MAIN************/

main {
     margin: 0 auto;
     width: 80%;
     padding: 35px 0;
     text-align: center
}

main div form {
     margin: 35px 0;
}

#laZone div h2 {
     color: red;
}

#laZone #leMembre {
     background-color: whitesmoke;
     padding: 10px;
}

#laZone #leMembre textarea {
     width: 70%;
     height: 100px;
}

#laZone #loader {
     width: 150px;
     height: 150px;
}

#laZone textarea{
     resize: none;
     border-color: black;
     width: 100%;
}

#laZone #loginForm {
    text-align: center;
}

#laZone #loginForm table {
     margin: 0 auto;
}

#laZone #messages {
     overflow-y: scroll;
     height: 440px;
     border: solid 1px black;
}

#laZone #messages p {
    text-align: left;
    border: 1px solid black;
    padding: 25px 10px;
    margin: 0;
}

#laZone #messages span:nth-child(-n+2) {
    font-weight: bold;
}

#laZone #messages #message {
    font-style: italic;
}

#laZone #subscribe {
    text-align: center;
}

#laZone #subscribe p.red{
     text-decoration: underline;
}

#laZone #subscribe table {
    margin: 0 auto;
}

#laZone #buttonReturn {
    margin-top: 17px;
}

#laZone #errorlog
{
     color: red;
     font-weight: bold ;
}

#laZone #sendMessage {
     margin: 35px 0;
}

/**************FOOTER************/


footer div {
     width: 100%;
     height: 150px;
     background-color: whitesmoke;
}

@media screen and (max-width: 764px) {

  /*****ALL*****/
  
  /*****HEADER*****/
  
  header nav ul {
       display: block;
       padding: 0;
  }
  
  header nav ul li {
       margin: 25px 0;
  }
  
  header nav ul li a {
       padding: 30px;
       display: block;
       text-align: center;
  }
  
  /*****MAIN*****/
  
[type=submit], [type=button] {
     width: 100%;
     margin: 10px 0;
     padding: 30px;
}

#laZone textarea {
     height: 150px;
     border-color: black;
}
  
  /*****FOOTER*****/
  
}