<article id='messages'>
     <?php foreach($msg as $value): ?>
     <?php $tabDate = formatDate($value['hour']); ?>
     <?= "<p><span class='DateNHour'>Le " . $tabDate['jour'] . ' ' . $tabDate['moisEcrit'] . ' ' . $tabDate['annee']. ' à ' . $tabDate['heure']. 'h'. $tabDate['minutes']  ."</span> par <span class='pseudo'>" . $value['member'] . "</span>: <span id='message'>" . $value['text'] . "</span></p>"?>
     <?php endforeach; ?>
</article>
<form id='sendMessage' method='POST' action='add_message.php'>
     <textarea name='message' rows="4" cols="50" maxlength='150' placeholder='Limité à 150 caractères' required></textarea>
     <br />
     <input type="submit" value="Envoyer le message"/>
     <input type="button" name="refresh" value='Rafraichir' />
     <input type="hidden" name="member" value="<?= $afficheMembre['pseudo'] ?>"/>
     <input type="hidden" name="mdpVerif" value="<?= substr($afficheMembre['password'], -6) ?>" />
</form>
<article id='leMembre'>
     <h2>Votre profil :</h2>
     <?= "<p>Sexe : <span class='sex"?>
     <?php if($afficheMembre['sexe'] == "M"): ?>
     <?= ' blue' ?>
     <?php else: ?>
     <?= ' pink' ?>
     <?php endif; ?>
     <?= "'>" . $afficheMembre['sexe'] . "</span></p>" ?>
     <?= "<p>Pseudo : <span class='pseu'>" . $afficheMembre['pseudo'] . "</span></p>" ?>
     <?php if($afficheMembre['description'] == 'NuLl'): ?>
     <?= "<p id='theDescription'>Il n'y a rien dans la description</p>" ?>
     <?php else: ?>
     <?= "<p id='theDescription'>Description : <span class='desc'>" . $afficheMembre['description'] . "</span></p>" ?>
     <?php endif; ?>
     <p><a id='updateDescription' href='#'>Ajouter/Changer description ?</a></p>
     <p><a id='deleteAccount' href='#'>Supprimer votre compte</a></p>
</article>