<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Mini Livre d'Or</title>
        <meta name="viewport" content="width=device-width, user-scalable=no">
        <link rel="stylesheet" href="Css/normalize.css" type="text/css" />
        <link rel="stylesheet" href="Css/style.css" type="text/css" />
        <script type="text/javascript" src="jquery/jquery-3.2.0.min.js"></script>
    </head>

    <body>

         <header>
               <?php include "header.phtml" ?>
         </header>

         <main>
            <section id='laZone'>
                <?php include $template . '.phtml' ?>
            </section>
         </main>

         <footer>
               <?php include "footer.phtml" ?>
         </footer>

    
    <script type="text/javascript" src="Js/script.js"></script>
    </body>
</html>