<FORM id='loginForm' method=post>
Connexion de l'utilisateur
     <TABLE>
          <TR>
                <TD>
                     <INPUT type=text name="pseudo" placeholder="Votre pseudo*" required>
                </TD>
          </TR>
          
          <TR>
               <TD>
                    <INPUT type='password' name='password' placeholder='Mot de passe*' required>
               </TD>
          </TR>
          
          <TR>
               <TD COLSPAN=2>
                    <INPUT type="submit" value="Connexion">
               </TD>
          </TR>
     </TABLE>
</FORM>