<FORM id='subscribe' method=post action="add_user.php">
<p>Enregistrement d'un utilisateur</p>
<p class='red'>Il faut un mot de passe d'au moins huit caracteres composé seulement de chiffres et de lettres</p>

     <TABLE>
          
          <TR>
                <TD>
                     Homme : <INPUT type=radio name="sexe" value="M" checked>
                     <br>
                     Femme : <INPUT type=radio name="sexe" value="F">
                </TD>
          </TR>
          
          <TR>
                <TD>
                     <INPUT type=text name="pseudo" placeholder="Votre pseudo*" required>
                </TD>
          </TR>
          
          <TR>
               <TD>
                    <INPUT type='password' name='password' placeholder='Mot de passe*' required>
               </TD>
          </TR>
          
          <TR>
               <TD>
                    <INPUT type='password' name='passwordConfirmation' placeholder='Confirmation de votre mot de passe*' required>
               </TD>
          </TR>

          
          <TR>
               <TD>
                    <TEXTAREA rows="3" name="description" placeholder="Tapez ici votre description"></TEXTAREA>
               </TD>
          </TR>
          
          <TR>
               <TD COLSPAN=2>
                    <INPUT type="submit" value="Envoyer">
               </TD>
          </TR>
     </TABLE>
</FORM>